.borad{
	display: flex;
	height: 100%;
	flex-direction: column;
	width: 100%;
}
.borad .main_platform{
	overflow-y: scroll;
	/* flex: 1 0 auto; */
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	height:500px;
	padding:15px;
	flex-grow: 1;
	/* position:relative;
	top:50%;
	transform: translate(0,-50%); */
}