#calendar .week_cell{
	text-align: center;
	background-color: #d1bbeb;
	color:black;
}
#calendar .month{
	text-align: center;
	background-color: #d1bbeb;
	color:black;
}
#calendar .sunday{
	color: red;
}
#calendar .saturday{
	color: blue;
}

#calendar{
	border:1px solid gray;
	/* border-collapse: collapse; */
	border-collapse:collapse;
	background-color: white;

	width: 100%;
	height: 100%;
	
	table-layout: fixed;
}
#calendar td{
	border: 1px solid rgb(151, 151, 151);
	padding:0;
}
/* #calendar td > div{
	display: flex;
	align-items: center;
	justify-content: center;
} */
#calendar td > div{
	/* border: 1px solid rgba(128, 128, 128, 255); */
	/* margin-bottom:-4px; */
}
#calendar .today > div{
	border: 1px solid red;
	/* margin-bottom:-4px; */
}
#calendar .today > div > div{
	/* display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 165, 165);
	height:80%;
	width: 80%;
	border-radius: 50%; */
	/* margin-bottom:-4px; */
}
#calendar .selected{
	background-color: #cfcfcf;
}
